body {
background-color: grey
}
#myContent {
    width: 100%;
    height: calc(100vh - 210px);
    overflow: scroll;
}
#myHead {
    width: 100%;
    height: 140px;
}

.decorateDivider {
    width: 50%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.14);
}